<h1>Liste de l'équipage</h1>
<ol>
  <% @corsairs.each do |c| %>
  <li>Corsaire <%= c.first_name %> : <%= c.age %> ans | <%= link_to "Voir le profil", corsair_path(c.id) %> <br>Github:
  <%= link_to c.github_handle.to_s, "https://github.com/" + c.github_handle.to_s %> | Slack:
  <%= link_to c.slack_handle.to_s, "https://thehackingproject.slack.com/team/" + c.slack_handle.to_s %></li>
  <% end %>
</ol>
<%= link_to "Créer un corsaire", new_corsair_path, method: "GET", class: "btn-lg" %>
