<h1> Création de Corsaire </h1>
<br>

  <%= form_for @corsair do |c| %>
  <%= render "shared/error_messages" %>
  <%= c.label :likeness, "Quel est ton pêché mignon?" %>
  <br>
  <%= c.radio_button :likeness, 'Kebab', :checked => true %> Kebab
  <%= c.radio_button :likeness, 'Hummus' %> Hummus
  <br>
  <%= c.label :first_name, "Rentre ton blaze" %>
  <br>
  <%= c.text_field :first_name, class: "form_control" %>
  <br>
  <%= c.label :age, "Rentre ton âge" %>
  <br>
  <%= c.select :age, (15..100) %>
  <br>
  <%= c.label :bio, "Rentre ta bio" %>
  <br>
  <%= c.text_area :bio, class: "form_control" %>
  <br>
  <%= c.label :slack_handle, "Rentre ton pseudo Slack" %>
  <br>
  <%= c.text_field :slack_handle, class: "form_control" %>
  <br>
  <%= c.label :github_handle, "Rentre ton pseudo Git" %>
  <br>
  <%= c.text_field :github_handle, class: "form_control" %>
  <br>
  <%= c.submit "Créer Corsaire" %>
  <% end %>
