<h1>Bienvenue <%= @corsair.first_name%> !</h1>
<h2>Tu as <%= @corsair.age%> ans !</h2>
<p>Voici ta vie: <%= @corsair.bio %></p>
<p>Ton pseudo Slack: <%= @corsair.slack_handle %></p>
<p>Ton pseudo Github: <%= @corsair.github_handle %></p>
